<xf:set var="$repo" value="{{ $xf.app.em.getRepository('SV\UserActivity:UserActivity') }}" />
<xf:set var="$displayCounts" value="{{ $repo.getMergedExisting($repo.getDisplayCounts(), $option.option_value) }}" />

<xf:checkboxrow
    label="{$option.title}"
	hint="{$hintHtml}"
	explain="{$explainHtml}"
	html="{$listedHtml}"
	rowclass="{$rowClass}">

    <xf:foreach loop="$displayCounts" key="$name" value="$label">
        <xf:option name="{$inputName}[{$name}]" selected="{$option.option_value.{$name}}" label="{$label}" />
    </xf:foreach>
</xf:checkboxrow>