.sv-user-activity--viewer-count
{
	color: @xf-textColorMuted;
	font-style: italic;
	font-size: 80%;
}

.block-header
{
    .sv-user-activity--viewer-count
    {
        color: @xf-majorHeadingTextColor;
    }
}

.block-header,
.node-title,
.structItem-cell
{
	.sv-user-activity--viewer-count
	{
		font-size: 70%;
	}
}

.p-title-value
{
	.sv-user-activity--viewer-count
	{
		font-size: 70%;
	}
}