<xf:macro name="UserActivity" arg-contentTypePhrase="" arg-contentId="" arg-records="">	
	<xf:if is="{$records}">
		<xf:css src="UserActivity.less" />
		<xf:if contentcheck="true">
			<div class="block">
				<div id="uaThreadViewContainer" class="block-container">
					<h3 class="block-minorHeader">{{ phrase('UA_ViewingTitle', {'ContentType': $contentTypePhrase, 'users': $records.members, 'guests': $records.guests}) }}</h3>
					<div class="block-body">
						<div class="block-row block-row--minor">
							<xf:contentcheck>
								<xf:if is="{$xf.options.RainDD_UA_ThreadViewType} == 0">
									<ul class="listInline listInline--comma">
										<xf:foreach loop="$records.records" value="$user"><xf:trim>
											<li><xf:username user="$user" rich="true" class="{{ !$user.visible ? 'username--invisible' : '' }}" /></li>
										</xf:trim></xf:foreach>
									</ul>
								<xf:elseif is="{$xf.options.RainDD_UA_ThreadViewType} == 1" />
									<ul class="listHeap">
										<xf:foreach loop="$records.records" value="$user">
											<li><xf:avatar user="$user" size="s" img="true"/></li>
										</xf:foreach>
									</ul>
								</xf:if>
							</xf:contentcheck>
							<xf:if is="{$records.recordsUnseen}">
								<li class="moreLink">{{ phrase('ellipsis_and_x_more', {'count': $records.recordsUnseen}) }}</li>
							</xf:if>
						</div>
					</div>
				</div>
			</div>
		</xf:if>
	</xf:if>
</xf:macro>