<xf:macro name="UserActivity"
		  arg-contentTypePhrase="!"
		  arg-records="!"
		  >
	<xf:if is="{$records}">
		<xf:css src="UserActivity.less" />
		<xf:if contentcheck="true">
			<div class="block">
				<div id="uaThreadViewContainer" class="block-container">
					<h3 class="block-minorHeader">{{ phrase('UA_ViewingTitle', {'ContentType': $contentTypePhrase, 'users': $records.members, 'guests': $records.guests}) }}</h3>
					<div class="block-body">
						<div class="block-row block-row--minor">
							<xf:contentcheck>
								<xf:if is="{$xf.options.RainDD_UA_ThreadViewType} == 0">
									<ul class="listInline listInline--comma">
										<xf:foreach loop="$records.records" value="$user"><xf:trim>
											<li><xf:username user="$user" rich="true" class="{{ !$user.visible ? 'username--invisible' : '' }}" /></li>
										</xf:trim></xf:foreach>
									</ul>
								<xf:elseif is="{$xf.options.RainDD_UA_ThreadViewType} == 1" />
									<ul class="listHeap">
										<xf:foreach loop="$records.records" value="$user">
											<li><xf:avatar user="$user" size="s" img="true"/></li>
										</xf:foreach>
									</ul>
								</xf:if>
							</xf:contentcheck>
							<xf:if is="{$records.recordsUnseen}">
								<xf:if is="{$records.records}">
									<li class="moreLink">{{ phrase('ellipsis_and_x_more', {'count': $records.recordsUnseen}) }}</li>
								<xf:else />
									<li></li>
								</xf:if>
							</xf:if>
						</div>
					</div>
				</div>
			</div>
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="viewerCounts"
		  arg-recordCounts="!"
		  arg-contentType="!"
		  arg-contentId="!"
		  >
	<xf:css src="UserActivity.less" />
	<xf:set var="$activityCount" value="{$recordCounts.{$contentType}.{$contentId}}" />
	<xf:if is="{$activityCount} == 1">
	<span class="uaViewerCount">{{ phrase('ua_node_view_count_single', {'count': {$activityCount|number}}) }}</span>
	<xf:elseif is="{$activityCount}"/>
	<span class="uaViewerCount">{{ phrase('ua_node_view_count', {'count': {$activityCount|number}}) }}</span>
	</xf:if>
</xf:macro>
